.message {
    background-color: #ddf4ff;
    border: 1px solid #a6d9ff;
    height: 50px;
}

.message p {
    text-align: center;
    padding-top: 12px;
}

.error {
    background-color: #f3cece;
    border: 1px solid #e38c8c;
    height: 50px;
}

.error p {
    text-align: center;
    padding-top: 12px;
}

.closeNotification {
    margin-top: -4px;
    transition: 0.5s;
    height: 30px;
    width: 30px;
    float: right;
    color: #0969da;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

.closeNotification:hover {
     color: #a6d9ff;
 }

.closeNotificationErr {
    color: #e38c8c;
}

.closeNotificationErr:hover {
    color: white;
}

.deleteButton {
    background-color: #AD2831 !important;
    border-color: #AD2831 !important;
}

.deleteButton:hover {
    background-color: #931017 !important;
    border-color: #931017 !important;
}

.updateButton {
    background-color: #00a7b1 !important;
    border-color: #00a7b1 !important;
}

.updateButton:hover {
    background-color: #00727c !important;
    border-color: #00727c !important;
}

.addButton {
    width: 80px;
}

.tableSelectButton #dropdown-gen {
    position: absolute;
    left: 12px;
    background-color: #FAC34C;
    border-color: #FAC34C;
    color: white;
}

.tableSelectButton #dropdown-gen:hover {
    position: absolute;
    left: 12px;
    background-color: #db9706;
    border-color: #db9706;
    color: white;
}

.messageModal {
    color: #00727c;
}

.errorModal {
    color: #931017;
}

.transitionModal {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
